.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Item-list {
  list-style: none;
}

.Item-list li {
  border-bottom: 1px dotted gray;
  width: 20%;
  height: 1.5em;  
  margin: auto;
  padding-top: .5em;
  text-align: left;
}