<!--The whole content below can be removed with the new code.-->
<md-toolbar class="global-header">
  <span><h1>{{title}}</h1></span>
  <span id="fill-nav-space"></span>
  <span>alpha</span>
</md-toolbar>

<!--
<div id="content">
  <md-tab-group id="tabs">
    <md-tab label="List">
      <app-conf-list></app-conf-list>
    </md-tab>
    <md-tab label="Create">
      <app-conf-create></app-conf-create>
    </md-tab>
  </md-tab-group>
</div>
-->

<nav md-tab-nav-bar id="content">
  <a md-tab-link routerLink="/list" routerLinkActive="active">
    List
  </a>
  <a md-tab-link routerLink="/create" routerLinkActive="active">
    Create
  </a>
</nav>

<router-outlet></router-outlet>