#fill-nav-space {
    flex: 1 1 auto;
}

.global-header {
    background-color: #263238;
    color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
}

#content {
    margin-top: 64px;
}